/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Header */
header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 76px;
    background: #005F89;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-item {
    display: flex;
    width: 20%;
    height: 100%;
    margin: auto;
}

.nav-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav-logo {
    display: inline-block;
    margin: auto;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 20px;
}

.nav-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    /* identical to box height, or 80% */
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    /* 03. On Primary / High Emphasis */
    color: #FFFFFF;
    margin: auto;
}

.nav-text a:hover {
    color: #e6eceb !important;
}

.nav-text a:active a:focus {
    color: #FFFFFF !important;
}

.filter-white {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(53deg) brightness(103%) contrast(102%);
}


a {
  color: #FFFFFF;
  font-family: Roboto;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.material-icons.icon {
    display: inline-block;
    color: #FFFFFF;
    width: 28px;
    height: 28px;
}
