@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <span class="material-icons blue123">face</span>
    <span class="material-icons blue123">
        account_circle
    </span>

    <style>
        .material-icons.blue123 {
            color: #0093b7;
        }
    </style>

</div>



